html, body, div, span,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, em, img, q, small,  strong, sub, sup, tt, b, i, dl, dt, 
dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, 
tfoot, thead, tr, th, td,article, aside, canvas,  footer, header, 
hgroup,menu, nav, section, summary,mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}