<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="稻草人，把真正的农产品带回家！这里有优质粮油，无公害蔬菜，农家干货，季节蔬菜，健康菜谱" />
	<meta name="keywords" content="稻草人，真正的农产品" />
	<!-- <meta name="author" content="Jane Why" /> -->
	<title>稻草人—农产品优选</title>
	<link rel="stylesheet" href="/statics/css/web/reset.css" />
	<link rel="stylesheet" href="/statics/css/web/header.css" />
	<link rel="stylesheet" href="/statics/css/web/index.css" />
</head>
<body id="page_index">
	<div class="page_wrapper">
		<div class="header">
			<div class="top_bar">
				<h1>把真正的农产品带回家!</h1>
				<div class="top_link">
					<ul>
						<li><a href="#">注册</a></li>
						<li><a href="#">登录</a></li>
						<li class="link_01"><a href="#">微博登录</a></li>
						<li class="link_02"><a href="#">QQ登录</a></li>
						<li class="link_03"><a href="#">更多</a></li>
						<ul class="top_more">
							<li><a href="#">人人网</a></li>
							<li><a href="#">网易</a></li>
							<li><a href="#">人人网</a></li>
							<li><a href="#">来往</a></li>
							<li><a href="#">网易</a></li>
						</ul>
					</ul>
				</div>
			</div>
			<div class="mid_bar">
				<a href="http://gzdcr.com" title="稻草人-农产品优选" class="logo">稻草人农产品优选</a>
				<div class="mid_search">
					<select name="" id="" class="select">
						<option value="按商品">按商品</option>
						<option value="按价格">按价格</option>
						<option value="按销量">按销量</option>
					</select>
					<input type="text" name="search" id="search" class="search"><input type="submit" name="submit" value="搜索" class="submit">
					<p>热搜关键词： 精品粮油   无公害蔬菜   有机米</p>
				</div>
				<a class="person" href="#" title="农户入住"><span>农户</span>入住</a>
			</div>
			<div class="nav">
				<ul>
					<li class="page_index"><a href="#" title="首页">首页</a></li>
					<li class="page_grain"><a href="#" title="优质粮油">优质粮油</a></li>
					<li class="page_cargo"><a href="#" title="农家干活">农家干货</a></li>
					<li class="page_vegetable"><a href="#" title="无公害蔬菜">无公害蔬菜</a></li>
					<li class="page_sales"><a href="#" title="季节促销">季节促销</a></li>
					<li class="page_menu"><a href="#" title="健康菜谱">健康菜谱</a></li>
					<li class="page_suggest"><a href="#" title="反馈建议">反馈建议</a></li>
				</ul>
			</div>
		</div>
		<div class="silder">
		    <div>
				<span class="prev"></span>
				<span class="next"></span>
			</div>
			<div class="slide_content">
				<div class="slide_content_list">
					<ul>
						<li><a href="#"><img src="/statics/img/web/animate1.jpg" alt="健康粮油，最佳使用方法&美味健康孕妇餐"></a></li>
						<li><a href="#"><img src="/statics/img/web/animate2.jpg" alt="粮油与健康"></a></li>
						<li><a href="#"><img src="/statics/img/web/animate1.jpg" alt="健康粮油，最佳使用方法&美味健康孕妇餐"></a></li>
						<li><a href="#"><img src="/statics/img/web/animate2.jpg" alt="粮油与健康"></a></li>
						<li><a href="#"><img src="/statics/img/web/animate1.jpg" alt="健康粮油，最佳使用方法&美味健康孕妇餐"></a></li>
						<li><a href="#"><img src="/statics/img/web/animate2.jpg" alt="粮油与健康"></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main">
		    <a href="#" class="extra_01">MORE<span>></span></a>
			<div class="grain">
				<div class="grain_left">
					<a href="#"><img class="left" src="/statics/img/web/grain11.jpg" alt=""></a>
					<ul class="grain_list main_list">
						<li class="hot_01"><a href="#">大米</a></li>
						<li><a href="#">粗粮</a></li>
						<li><a href="#" class="hot_02">山茶油</a></li>
						<li><a href="#">橄榄油</a></li>
						<li><a href="#">五谷杂粮</a></li>
						<li><a href="#">健康礼品</a></li>
					</ul>
					<h3>农户销量周排行</h3>
					<ul class="grain_person main_person">
						<li><a href="#">清远陈永泉</a></li>
						<li><a href="#">韶关李计科</a></li>
						<li><a href="#">河源叶惠康</a></li>
						<li><a href="#">河源龙川县叶玉花</a></li>
						<li><a href="#">河源欧伯友</a></li>
						<li><a href="#">清远李承志</a></li>
						<li><a href="#">高州曾天荣</a></li>
					</ul>
				</div>
				<div class="grain_mid mid">
					<ul>
						<li><a href="#"><img src="/statics/img/web/grain2.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/grain7.jpg" alt=""></a></li>
					</ul>
				</div>
				<div class="grain_right right">
					<ul>
						<li><a href="#"><img src="/statics/img/web/grain3.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/grain4.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/grain5.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/grain8.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/grain9.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/grain10.jpg" alt=""></a></li>
					</ul>
				</div>
			</div>
			<a href="#" class="extra_02">MORE<span>></span></a>
			<div class="cargo">
				<div class="cargo_left">
					<a href="#"><img class="left" src="/statics/img/web/cargo1.jpg" alt=""></a>
					<ul class="cargo_list main_list">
						<li><a href="#" class="hot_03">干果</a></li>
						<li><a href="#">海产</a></li>
						<li><a href="#" class="hot_04">干菇菌</a></li>
						<li><a href="#">果仁</a></li>
					</ul>
					<h3>农户销量周排行</h3>
					<ul class="cargo_person main_person">
						<li><a href="#">河源欧佰友师傅</a></li>
						<li><a href="#">梅州张文伟</a></li>
						<li><a href="#">韶关贺荣飞</a></li>
						<li><a href="#">河源龙川县叶玉花</a></li>
						<li><a href="#">潮州李廷志</a></li>
						<li><a href="#">清远陈永泉</a></li>
						<li><a href="#">高州曾天荣</a></li>
					</ul>
				</div>
				<div class="cargo_mid mid">
					<ul>
						<li><a href="#"><img src="/statics/img/web/cargo2.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/cargo7.jpg" alt=""></a></li>
					</ul>
				</div>
				<div class="cargo_right right">
					<li><a href="#"><img src="/statics/img/web/cargo3.jpg" alt=""></a></li>
					<li><a href="#"><img src="/statics/img/web/cargo4.jpg" alt=""></a></li>
					<li><a href="#"><img src="/statics/img/web/cargo5.jpg" alt=""></a></li>
					<li><a href="#"><img src="/statics/img/web/cargo8.jpg" alt=""></a></li>
					<li><a href="#"><img src="/statics/img/web/cargo9.jpg" alt=""></a></li>
					<li><a href="#"><img src="/statics/img/web/cargo10.jpg" alt=""></a></li>
				</div>
			</div>
			<a href="#" class="extra_03">MORE<span>></span></a>
			<div class="vegetable">
				<div class="vegetable_left">
					<a href="#"><img class="left" src="/statics/img/web/vegetables1.jpg" alt=""></a>
					<ul class="vegetable_list main_list">
						<li><a href="#" class="hot_05">套餐</a></li>
						<li><a href="#">时菜</a></li>
						<li><a href="#" class="hot_06">水培菜</a></li>
						<li><a href="#">瓜类</a></li>
					</ul>
					<h3>农户销量周排行</h3>
					<ul class="vegetable_person main_person">
						<li><a href="#">增城胡玉凤</a></li>
						<li><a href="#">增城叶国光</a></li>
						<li><a href="#">韶关贺荣飞</a></li>
						<li><a href="#">高州李廷志</a></li>
						<li><a href="#">潮州李廷志</a></li>
						<li><a href="#">梅州张文伟</a></li>
						<li><a href="#">河源叶玉花</a></li>
					</ul>
				</div>
				<div class="vegetable_mid mid">
					<ul>
						<li><a href="#"><img src="/statics/img/web/vegetables2.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/vegetables7.jpg" alt=""></a></li>
					</ul>
				</div>
				<div class="vegetable_right right">
					<ul>
						<li><a href="#"><img src="/statics/img/web/vegetables3.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/vegetables4.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/vegetables5.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/vegetables8.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/vegetables9.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/vegetables10.jpg" alt=""></a></li>
					</ul>
				</div>
			</div>
			<a href="#" class="extra_04">MORE<span>></span></a>
			<div class="sales">
				<div class="sales_left">
					<a href="#"><img class="left" src="/statics/img/web/sales1.jpg" alt=""></a>
					<ul class="sales_list main_list">
						<li><a href="#" class="hot_07">保健</a></li>
						<li><a href="#">腌制</a></li>
						<li><a href="#"class="hot_08">果制品</a></li>
						<li><a href="#">手工</a></li>
					</ul>
					<h3>农户销量周排行</h3>
					<ul class="sales_person main_person">
						<li><a href="#">韶关陈大圣</a></li>
						<li><a href="#">梅州周崇</a></li>
						<li><a href="#">潮州吴小妹</a></li>
						<li><a href="#">韶关贺荣飞</a></li>
						<li><a href="#">潮州叶润海</a></li>
						<li><a href="#">潮州李廷志</a></li>
						<li><a href="#">高明邓志宁</a></li>
					</ul>
				</div>
				<div class="sales_mid mid">
					<ul>
						<li><a href="#"><img src="/statics/img/web/sales2.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/sales7.jpg" alt=""></a></li>
					</ul>
				</div>
				<div class="sales_right right">
					<ul>
						<li><a href="#"><img src="/statics/img/web/sales3.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/sales4.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/sales5.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/sales8.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/sales9.jpg" alt=""></a></li>
						<li><a href="#"><img src="/statics/img/web/sales10.jpg" alt=""></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer_bar">
				<ul>
					<li class="footer_01"><span>100%</span>认真严格筛选</li>
					<li class="footer_02"><span>7天</span>无理由退换</li>
					<li class="footer_03">客服电话：<span>400-889-8888 </span><span class="special">09:00-22:30(周一至周日)</span></li>
					<li class="footer_04"><a href="#" class="back_top">回到顶部^</a></li>
				</ul>
			</div>
			<div class="footer_info">
				<ul class="footer_comp">
				    <h4>公司</h4>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">招聘信息</a></li>
					<li><a href="#">联系合作</a></li>
				</ul>
				<ul class="footer_consu">
					<h4>消费者</h4>
					<li><a href="#">帮助中心</a></li>
					<li><a href="#">手机版下载</a></li>
					<li><a href="#">客户服务</a></li>
				</ul>
				<ul class="footer_peas">
				    <h4>农户</h4>
					<li><a href="#">帮助平台</a></li>
					<li><a href="#">农户平台</a></li>
					<li><a href="#">农户培训</a></li>
				</ul>
				<ul class="footer_serve">
					<h4>服务承诺</h4>
					<li><a href="#">对接农户</a></li>
					<li><a href="#">官方检测</a></li>
					<li><a href="#">官方推广</a></li>
				</ul>
			</div>
			<span class="footer_recommend">关注他</span>
			<div class="footer_link">
				<ul>
					<li><a href="#">返回首页|</a></li>
					<li><a href="#">广州稻草人|</a></li>
					<li><a href="#">新力传媒|</a></li>
					<li><a href="#">联系我们|</a></li>
					<li><a href="#">隐私条款|</a></li>
					<li><a href="#">友情链接</a></li>
				</ul>
				<p class="footer_copyright">COPYRIGHT  2013-2014 YOHU!有货 粤ICP备09011225号 RACENT CO. 版权所有</p>
			</div>
		</div>
		<div class="dimension">
			<a href="#"><img src="/statics/img/web/dimension.png" alt="二维码"></a>
		</div>
	</div>
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script src="/statics/js/scroll.js"></script>
</body>
</html>