<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="稻草人，把真正的农产品带回家！" />
	<meta name="keywords" content="稻草人，真正的农产品，加盟" />
	<title>申请加盟</title>
	<link rel="stylesheet" href="/statics/css/web/reset.css" />
	<link rel="stylesheet" href="/statics/css/web/header.css" />
	<link rel="stylesheet" href="/statics/css/web/join.css" />
</head>
<body id="page_join">
	<div class="page_wrapper">
		<div class="header">
			<div class="top_bar">
				<h1>把真正的农产品带回家!</h1>
				<div class="top_link">
					<ul>
						<li><a href="#">注册</a></li>
						<li><a href="#">登录</a></li>
						<li class="link_01"><a href="#">微博登录</a></li>
						<li class="link_02"><a href="#">QQ登录</a></li>
						<li class="link_03"><a href="#">更多</a></li>
						<ul class="top_more">
							<li><a href="#">人人网</a></li>
							<li><a href="#">网易</a></li>
							<li><a href="#">人人网</a></li>
							<li><a href="#">来往</a></li>
							<li><a href="#">网易</a></li>
						</ul>
					</ul>
				</div>				
			</div>
			<div class="mid_bar">
				<a href="http://gzdcr.com" title="稻草人-农产品优选" class="logo">稻草人农产品优选</a>
				<div class="mid_search">
					<select name="" id="" class="select">
						<option value="按商品">按商品</option>
						<option value="按价格">按价格</option>
						<option value="按销量">按销量</option>
					</select>
					<input type="text" name="search" id="search" class="search"><input type="submit" name="submit" value="搜索" class="submit">
					<p>热搜关键词： 精品粮油   无公害蔬菜   有机米</p>
				</div>
				<a class="person" href="#" title="农户入住"><span>农户</span>入住</a>
			</div>
			<div class="nav">
				<ul>
					<li class="page_index"><a href="#" title="首页">首页</a></li>
					<li class="page_grain"><a href="#" title="优质粮油">优质粮油</a></li>
					<li class="page_cargo"><a href="#" title="农家干活">农家干货</a></li>
					<li class="page_vegetable"><a href="#" title="无公害蔬菜">无公害蔬菜</a></li>
					<li class="page_sales"><a href="#" title="季节促销">季节促销</a></li>
					<li class="page_menu"><a href="#" title="健康菜谱">健康菜谱</a></li>
					<li class="page_suggest"><a href="#" title="反馈建议">反馈建议</a></li>
				</ul>
			</div>
		</div>
		<div class="main">
			<div class="classify">
			    <a href="javascript:void(0)" class="active common" id="unit">个体农户申请</a>
			    <a href="javascript:void(0)" class="unactive common" id="cooperation">农业合作社申请</a>
			</div>
			<div class="info">
				<div class="unit_info">
					<ul class="state">
						<li>店铺内不允许销售非生态农业授权商品，违者取消入驻资格</li>
						<li>生态农业店铺隐藏了信誉等级，无终差评，更有利于销售</li>
					</ul>
					<div class="flow">
						<ul>
							<h3 class="prepare">资料准备<span></span></h3>
							<li>1.产品详细信息</li>
							<li>2.种植和加工规范</li>
							<li>3.农户基本信息</li>
							<a href="#">点击下载申请表</a>
						</ul>
						<ul>
							<h3 class="submit">提交资料</h3>
							<li>1.点击一下“立即提交按钮提交申请信息表”</li>
							<li>2.致电工作人员确认提交</li>
							<a href="#">点击提交申请表</a>
						</ul>
						<ul>
							<h3>实地考察</h3>
							<li>1.实地走访考察产地情况和种植规范</li>
							<li>2.听取同行口碑</li>
							<img class="inspect" src="/statics/img/web/inspect.jpg" alt="">
						</ul>
						<ul>
						   <h3>入驻成功</h3>
						   <li>1.定期开展网店运营培训</li>
						   <li>2.签订责任协议</li>
						   <li>3.成功入驻</li>
						   <img class="success" src="/statics/img/web/success.jpg" alt="">
						</ul>
					</div>
					<div class="interest">
						<h2>入驻有机会享受的权利</h2>
						<ul>
							<li class="identification">
								<a href="#"><img src="/statics/img/web/identification.jpg" alt=""></a>
								<h4>获得稻草人专属标志</h4>
								<p>绿色健康、安全可溯源的象征</p>
							</li>
							<li class="ads">
								<a href="#"><img src="/statics/img/web/ads.jpg" alt=""></a>
								<h4>获得首页广告展位<a href="#">详情</a></h4>
								<p>最佳展位最大限度增加网络客流</p>
							</li>
							<li class="extend">
								<a href="#"><img src="/statics/img/web/extend.jpg" alt=""></a>
								<h4>首页宝贝推广展位<a href="#">详情</a></h4>
								<p>加速最新农产品展位传播</p>
							</li>
							<li class="pai">
								<a href="#"><img src="/statics/img/web/pai.jpg" alt=""></a>
								<h4>尊享个人销售排名</h4>
								<p>每月进行销售统计，提供建议</p>
							</li>
						</ul>
					</div>
					<span class="line"></span>
					<div class="map">
						<h2>每一个农产品都知道由谁在哪儿出产的</h2>
						<img src="/statics/img/web/map.jpg" alt="">
						<p>常见问题：<span>如果您需要咨询入驻稻草人生态农业相关问题，请</span><a href="#">点击查看</a></p>
					</div>
				</div>
				<div class="cooperation_info">
						<ul class="state">
						<li>农业合作社。。。继续等待惊喜</li>
						<li>生态农业店铺隐藏了信誉等级，无终差评，更有利于销售</li>
					</ul>
					<div class="flow">
						<ul>
							<h3 class="prepare">资料准备<span></span></h3>
							<li>1.产品详细信息</li>
							<li>2.种植和加工规范</li>
							<li>3.农户基本信息</li>
							<a href="#">点击下载申请表</a>
						</ul>
						<ul>
							<h3 class="submit">提交资料</h3>
							<li>1.点击一下“立即提交按钮提交申请信息表”</li>
							<li>2.致电工作人员确认提交</li>
							<a href="#">点击提交申请表</a>
						</ul>
						<ul>
							<h3>实地考察</h3>
							<li>1.实地走访考察产地情况和种植规范</li>
							<li>2.听取同行口碑</li>
							<img class="inspect" src="/statics/img/web/inspect.jpg" alt="">
						</ul>
						<ul>
						   <h3>入驻成功</h3>
						   <li>1.定期开展网店运营培训</li>
						   <li>2.签订责任协议</li>
						   <li>3.成功入驻</li>
						   <img class="success" src="/statics/img/web/success.jpg" alt="">
						</ul>
					</div>
					<div class="interest">
						<h2>入驻有机会享受的权利</h2>
						<ul>
							<li class="identification">
								<img src="/statics/img/web/identification.jpg" alt="">
								<h4>获得稻草人专属标志</h4>
								<p>绿色健康、安全可溯源的象征</p>
							</li>
							<li class="ads">
								<img src="/statics/img/web/ads.jpg" alt="">
								<h4>获得首页广告展位<a href="#">详情</a></h4>
								<p>最佳展位最大限度增加网络客流</p>
							</li>
							<li class="extend">
								<img src="/statics/img/web/extend.jpg" alt="">
								<h4>首页宝贝推广展位<a href="#">详情</a></h4>
								<p>加速最新农产品展位传播</p>
							</li>
							<li class="pai">
								<img src="/statics/img/web/pai.jpg" alt="">
								<h4>尊享个人销售排名</h4>
								<p>每月进行销售统计，提供建议</p>
							</li>
						</ul>
					</div>
					<span class="line"></span>
					<div class="map">
						<h2>每一个农产品都知道由谁在哪儿出产的</h2>
						<img src="/statics/img/web/map.jpg" alt="">
						<p>常见问题：<span>如果您需要咨询入驻稻草人生态农业相关问题，请</span><a href="#">点击查看</a></p>
					</div>
				</div>
			</div>		
		</div>
		<div class="footer">
			<div class="footer_bar">
				<ul>
					<li class="footer_01"><span>100%</span>认真严格筛选</li>
					<li class="footer_02"><span>7天</span>无理由退换</li>
					<li class="footer_03">客服电话：<span>400-889-8888 </span><span class="special">09:00-22:30(周一至周日)</span></li>
					<li class="footer_04"><a href="#" class="back_top">回到顶部^</a></li>
				</ul>
			</div>
			<div class="footer_info">
				<ul class="footer_comp">
				    <h4>公司</h4>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">招聘信息</a></li>
					<li><a href="#">联系合作</a></li>
				</ul>
				<ul class="footer_consu">
					<h4>消费者</h4>
					<li><a href="#">帮助中心</a></li>
					<li><a href="#">手机版下载</a></li>
					<li><a href="#">客户服务</a></li>
				</ul>
				<ul class="footer_peas">
				    <h4>农户</h4>
					<li><a href="#">帮助平台</a></li>
					<li><a href="#">农户平台</a></li>
					<li><a href="#">农户培训</a></li>
				</ul>
				<ul class="footer_serve">
					<h4>服务承诺</h4>
					<li><a href="#">对接农户</a></li>
					<li><a href="#">官方检测</a></li>
					<li><a href="#">官方推广</a></li>
				</ul>
			</div>
			<span class="footer_recommend">关注他</span>
			<div class="footer_link">
				<ul>
					<li><a href="#">返回首页|</a></li>
					<li><a href="#">广州稻草人|</a></li>
					<li><a href="#">新力传媒|</a></li>
					<li><a href="#">联系我们|</a></li>
					<li><a href="#">隐私条款|</a></li>
					<li><a href="#">友情链接</a></li>
				</ul>
				<p class="footer_copyright">COPYRIGHT  2013-2014 YOHU!有货 粤ICP备09011225号 RACENT CO. 版权所有</p>
			</div>
		</div>
	</div>
	<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
	<script>
	(function(){
		// var $parent=$(".main");
		var $unit_show=$(".unit_info");
		var $cooperation_show=$(".cooperation_info");
		$("#unit").click(function(){
			$(this).removeClass("unactive").addClass("active").siblings().addClass("unactive").removeClass("active");
			$unit_show.css({"display":"block"}).siblings().css({"display":"none"});
		});
		$("#cooperation").click(function(){
			$(this).removeClass("unactive").addClass("active").siblings().addClass("unactive").removeClass("active");
			$cooperation_show.css({"display":"block"}).siblings().css({"display":"none"});
		})
	})(jQuery);
	</script>
</body>
</html>