<!DOCTYPE html>

<html>
<head>
    <title>Article List - Electronic Commerce Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{template "styles"}}
</head>
<body>
    <div id="leftside">
      {{template "leftside" .}}
    </div>

    <div id="rightside">

        <div class="main">

            <a href="/webmaster/articlecategory"><span class="glyphicon glyphicon-list"></span> Category</a>
            <a href="/webmaster/article/create"><span class="glyphicon glyphicon-plus"></span> Create</a>

            <h3>Article List</h3>

            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Title</td>
                            <td>Category</td>
                            <td>Click</td>
                            <td>Time</td>
                            <td>Status</td>
                            <td>Operation</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $index, $item := .ArticleList}}
                        <tr>
                            <td>{{$item.Id}}</td>
                            <td>{{$item.Title}}</td>
                            <td>{{$item.Category}}</td>
                            <td>{{$item.Click}}</td>
                            <td>{{$item.Time}}</td>
                            <td>{{$item.Status}}</td>
                            <td>
                                <a href="/webmaster/article/edit?id={{$item.Id}}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                                <a href="javascript:void(0);" onclick="Delete('{{$item.Id}}')"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="clear"></div>

    {{template "scripts"}}
    <script>
        function Delete(id){
            if(!confirm('Are you sure?')){
                return ;
            }
            $.ajax({
                type: 'POST',
                url: '/webmaster/article/delete',
                data: {
                  id: id
                },
                success: function(data) {
                  location.reload();
                },
                dataType: 'text'
            });
        }
    </script>
</body>
</html>