<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>商品列表 - 一村一品</title>
    {{template "styles"}}
</head>
<body>
    {{template "headerpart" .}}

	<!--main-->
	<div class="pos">
        <img src="/statics/img/web/icon_house.png" />
        <span>一村一品</span>
        >
        <span>商品分类</span>
        >
        <span>粮油</span>
	</div>

    <div id="cat" class="wrap">
        <div class="cat-left">
            <p>全部分类</p>
            <ul>
                <li>优质粮油</li>
                <li>农家干货</li>
                <li>新鲜果蔬</li>
                <li>华农出品</li>
            </ul>
        </div>

        <div class="cat-right">
            <div style="width: 100%;height:300px;border: 1px solid #f3f3f3;">
                <div class="cat-text"></div>
                <div class="cat-img"></div>
            </div>

            <div style="width: 100%;height:47px;margin-top:20px;border: 1px solid #f3f3f3;">
                <div class="cat-text"></div>
                <div class="cat-img"></div>
            </div>

            <div style="background: #f5f7f6;width: 100%; height: 49px;margin-top: 12px;">

            </div>

            <div class="goodslist">

                <span class="item"></span>
                <span class="item"></span>
                <span class="item"></span>
                <span class="item"></span>
                <span class="item"></span>
                <span class="item"></span>
                <span class="item"></span>
                <span class="item"></span>
                <span class="item"></span>
                <span class="item"></span>
                <span class="item"></span>

            </div>
        </div>

        <div class="clear"></div>
    </div>

    {{template "footerpart" .}}

    {{template "scripts"}}
</body>
</html>