<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>查看商品 - 一村一品</title>
    {{template "styles"}}
</head>
<body>
    {{template "headerpart" .}}

	<!--main-->
    <!--main-->
    <div class="pos">
        <img src="/statics/img/web/icon_house.png" />
        <span>一村一品</span>
        >
        <span>商品分类</span>
        >
        <span>粮油</span>
    </div>

    <div class="goods-info">

        <div class="pic">
            <img class="big" src="/statics/img/web2/detail1.png" alt=""/>
            <img class="small" src="/statics/img/web2/detail2.png" alt=""/>
            <img class="small" src="/statics/img/web2/detail3.png" alt=""/>
        </div>

        <div class="info">
            <p class="title">这里是标题啊测试</p>
            <p class="sub-title">这是副标题</p>
            <p class="price">￥580.00</p>

            <div class="rec-reason">
                <p class="title">一村一品的推荐理由：</p>
                <p class="content">如果你还在为夏天自己还没有胖下来这件事而烦恼的话，我想也是没有必要了，因为哪怕运动也很难在1个月内有明显效果，所以索性不如放开吃？台湾的“微热山丘”有些朋友旅行会带回来，上海也在外滩开了家洋气的店，而让我佩服的是找知名设计师隈研吾在东京也开了店，想必除了诚意味道还是关键吧！</p>
            </div>

            <div class="buy-collect">
                <a href="#"><img src="/statics/img/web/btn_gotobuy.png" alt=""/></a>
                <span><img src="/statics/img/web/btn_collect.png" alt=""/></span>
            </div>

            <div class="share">
                <span>分享商品：</span>
                <a href="#"><img src="/statics/img/web/share/share1.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share2.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share3.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share4.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share5.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share6.png" /></a>
            </div>
        </div>

        <div class="clear"></div>
    </div>

    <div class="comment-list">
        <div><img src="/statics/img/web/line.png" alt=""/></div>
        <p class="title">评论互动</p>
    </div>

    <div class="recommend">
        <div><img src="/statics/img/web/line.png" alt=""/></div>
        <p class="title">猜你喜欢</p>
    </div>

    {{template "footerpart" .}}

    {{template "scripts"}}
</body>
</html>