{{define "footerpart"}}

<div id="footer">
    <div id="rule">
        <span style="line-height: 66px;"><img src="/statics/img/web/zheng.png" style="vertical-align: middle;height:24px;" /></span>
        &nbsp;
        <span style="line-height: 66px;text-align:center;color:#88c31d;font-size:14px;">100%</span>
        <span style="line-height: 66px;text-align:center;color:#FFF;font-size:14px;">严格筛选</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/web/screening">查看筛选规则></a>
    </div>
    <div id="bottom">
        <h3>做最真实安全的农产品导购！</h3>
        <div class="share" style="height:48px;margin:10px;text-align:center;">
            <a href="#"><img class="share-icon" src="/statics/img/web/icon_weibo.png" /></a>
            <a href="#"><img class="share-icon" src="/statics/img/web/icon_fb.png" /></a>
            <a href="#"><img class="share-icon" src="/statics/img/web/icon_wechat.png" /></a>
            <a href="#"><img class="share-icon" src="/statics/img/web/icon_t.png" /></a>
        </div>
        <div class="navlink">
            <a href="/web">返回首页</a>
            |
            <a href="/web/about">关于我们</a>
            |
            <a href="/web/promotion">供应商推广</a>
            |
            <a href="/web/privacy">隐私政策</a>
            |
            <a href="/web/link">友情链接</a>
        </div>
        <p class="copy">
            COPYRIGHT &copy; 2014-2015 一村一品
            <a href="http://racent.com.cn" target="_blank">RACENT CO.</a>
            版权所有
        </p>
    </div>
</div>

{{end}}