<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{{.currentCategory.Name}} - 一村一品</title>
    {{template "styles"}}
</head>
<body>
    {{template "headerpart" .}}

	<!--main-->
	<div class="pos">
        <img src="/statics/img/web/icon_house.png" />
        <span><a href="/web">一村一品</a></span>
        >
        {{if ne .currentCategory.Parent ""}}
        <span><a href="/web/gcat?c={{.currentCategory.Parent}}">{{.currentCategory.Parent}}</a></span>
        >
        {{end}}
        <span><a href="/web/gcat?c={{.currentCategory.Name}}">{{.currentCategory.Name}}</a></span>
	</div>

    <div id="cat" class="wrap">
        <div class="cat-left" style="margin-bottom: 100px;">
            <p>全部分类</p>
            <ul>
                {{range $i, $e := .goodsCategories}}
                <li>
                    <a {{if eq $e.Name $.currentCategory.Name}}class="active" {{end}}href="/web/gcat?c={{$e.Name}}">{{$e.Name}}</a>
                    <ul>
                        {{range $i2, $e2 := $e.Slice}}
                        <li><a {{if eq $e2 $.currentCategory.Name}}class="active" {{end}}href="/web/gcat?c={{$e2}}">{{$e2}}</a></li>
                        {{end}}
                    </ul>
                </li>
                {{end}}
            </ul>
        </div>

        <div class="cat-right" style="margin-bottom: 100px;">
            <div style="width: 100%;height:300px;border: 1px solid #f3f3f3;">
                <div class="cat-text" raw="{{.goodsCategoryInfo.CategoryInfo}}">
                    <img src="{{.goodsCategoryInfo.CategoryInfo}}" />
                </div>
                <div class="cat-img">
                    <img src="{{.goodsCategoryInfo.CategoryImage}}" />
                </div>
            </div>

            <div class="select-price">
                <span>价格：</span>
                <a href="#">￥0-300</a>
                <a href="#">￥300-600</a>
                <a href="#">￥600-1000</a>
                <a href="#">￥1000-2000</a>
                <a href="#">￥2000以上</a>
            </div>

            <div class="order">
                <a href="#">最新</a>
                <a href="#">价格</a>
            </div>

            <div class="goodslist">

                {{range $k, $v := .goodsList}}
                {{if eq $v.Status 1}}
                <div class="item">
                    <a href="/web/goods?id={{$v.Id}}"><img class="goods-pic" src="{{GetJsonData $v.Images "medium"}}" /></a>
                    <div class="info">
                        <p class="title">{{$v.Title}}</p>
                        <img class="rmb-icon" src="/statics/img/web/icon_rmb.png" />
                        <span class="price">{{$v.Price}} / {{$v.Unit}}</span>
                    </div>
                </div>
                {{end}}
                {{end}}
            </div>
            <div class="clear"></div>

            <div style="display: none; position:relative;height: 50px;margin:10px 0 30px 0;">
                <div id="pager">
                    <a href="#">首页</a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">...</a>
                    <a href="#">9</a>
                    <a href="#">10</a>
                    <a href="#">12</a>
                    <a href="#">13</a>
                    <a href="#">尾页</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>

    </div>

    {{template "footerpart" .}}

    {{template "scripts"}}
    <script>
        $(function(){
            try{
                var info = JSON.parse($('.cat-text').attr('raw'));
                console.log(info.title_cn);
                var code = '<div>';
                code += '<h1 style="text-align: center;line-height: 40px;font-weight: normal;font-size: 32px;margin: 60px 0 0 0;padding: 0;">' + info.title_cn + '</h1>';
                code += '<h2 style="text-align: center;line-height: 30px;font-weight: normal;font-size: 24px;margin: 0 0 0 0;padding: 0;">' + info.title_en + '</h2>';
                code += '<p style="padding: 20px 40px;line-height: 20px;font-size: 14px; color: #AAA; margin: 0 0 0 0;">' + info.content + '</p>';
                code += '</div>';

                $('.cat-text').html(code);
            }catch (e){
                $('.cat-text').html("loading");
            }

        });
    </script>
</body>
</html>