<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>查看商品 - 一村一品</title>
    {{template "styles"}}
</head>
<body>
    {{template "headerpart" .}}

	<!--main-->
    <!--main-->
    <div class="pos">
        <img src="/statics/img/web/icon_house.png" />
        <span>一村一品</span>
        >
        <span>商品分类</span>
        >
        <span>粮油</span>
    </div>

    <div class="goods-info">

        <div class="pic">
            <img class="big" src="/statics/img/web2/detail1.png" alt=""/>
            <img class="small" src="/statics/img/web2/detail2.png" alt=""/>
            <img class="small" src="/statics/img/web2/detail3.png" alt=""/>
        </div>

        <div class="info">
            <p class="title">这里是标题啊测试</p>
            <p class="sub-title">这是副标题</p>
            <p class="price">￥580.00</p>

            <div class="rec-reason">
                <p class="title">一村一品的推荐理由：</p>
                <p class="content">如果你还在为夏天自己还没有胖下来这件事而烦恼的话，我想也是没有必要了，因为哪怕运动也很难在1个月内有明显效果，所以索性不如放开吃？台湾的“微热山丘”有些朋友旅行会带回来，上海也在外滩开了家洋气的店，而让我佩服的是找知名设计师隈研吾在东京也开了店，想必除了诚意味道还是关键吧！</p>
            </div>

            <div class="buy-collect">
                <a href="#"><img src="/statics/img/web/btn_gotobuy.png" alt=""/></a>
                <span><img src="/statics/img/web/btn_collect.png" alt=""/></span>
            </div>

            <div class="share">
                <span>分享商品：</span>
                <a href="#"><img src="/statics/img/web/share/share1.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share2.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share3.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share4.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share5.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share6.png" /></a>
            </div>
        </div>

        <div class="clear"></div>
    </div>

    <div class="comment">
        <div><img src="/statics/img/web/line.png" alt=""/></div>
        <p class="title">评论互动</p>

        <div id="commentForm" style="margin: 20px auto;width: 618px;">
            <div style="float: left;">
                <textarea id="commentContent" style="margin: 0;padding:5px; height: 38px;width: 550px;"></textarea>
            </div>
            <div style="float: left;">
                <a href="javascript:void(0);" onclick="CommonFormSubmit();" style="line-height:50px;display:inline-block;margin-left:10px; width: 45px;text-align: center; background: #222;color: #FFF;font-size: 14px;">发布</a>
            </div>

            <div class="clear"></div>
        </div>

        <div id="commonList" style="margin: 20px auto;width: 618px;">
            <table style="width: 618px;font-size: 12px;color: #555;">
                <tbody>
                    <tr>
                        <td rowspan="2" style="width: 32px; vertical-align: top;text-align: center;">
                            <img style="width:32px;height: 32px;" src="http://www.gravatar.com/avatar/4a1ab7c9545910cfaa681bafd4e84efd" />
                        </td>
                        <td style=" vertical-align: top;font-weight: bold;padding-left: 15px;">xianmau</td>
                        <td style=" vertical-align: top;text-align: right;">2014-08-16</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-bottom: 20px;padding-left:15px;line-height: 20px; vertical-align: top;">
                            这里是评论内容收到米后，马上焖饭准备晚餐，果然很不错，米口感非常好，很成功的一次网购，以后会继续在你家店购买。
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="width: 32px; vertical-align: top;text-align: center;">
                            <img style="width:32px;height: 32px;" src="http://www.gravatar.com/avatar/4a1ab7c9545910cfaa681bafd4e84efd" />
                        </td>
                        <td style=" vertical-align: top;font-weight: bold;padding-left: 15px;">xianmau</td>
                        <td style=" vertical-align: top;text-align: right;">2014-08-16</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-bottom: 20px;padding-left:15px;line-height: 20px; vertical-align: top;">
                            这里是评论内容收到米后，马上焖饭准备晚餐，果然很不错，米口感非常好，很成功的一次网购，以后会继续在你家店购买。
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="commentPager">
            <a href="#">首页</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">...</a>
            <a href="#">9</a>
            <a href="#">10</a>
            <a href="#">12</a>
            <a href="#">13</a>
            <a href="#">尾页</a>
        </div>
    </div>

    <div class="recommend">
        <div><img src="/statics/img/web/line.png" alt=""/></div>
        <p class="title">猜你喜欢</p>

        <div class="recommendList">

            <div class="item" style="float: left;width: 150px;margin: 10px 7px 20px 7px;border-bottom: 1px solid #CCC;">
                <img src="/statics/img/web2/detail1.png" style="width: 150px;height: 150px;"/>
                <a style="margin: 0;padding: 0;line-height: 20px;color: #555;font-size: 12px;">这里是商品的标题可...</a>
                <p style="margin: 0;padding: 0;line-height: 20px;color:orangered;font-size: 12px;text-align: right;">￥500.00</p>
            </div>

            <div class="item" style="float: left;width: 150px;margin: 10px 7px 20px 7px;border-bottom: 1px solid #CCC;">
                <img src="/statics/img/web2/detail1.png" style="width: 150px;height: 150px;"/>
                <a style="margin: 0;padding: 0;line-height: 20px;color: #555;font-size: 12px;">这里是商品的标题可...</a>
                <p style="margin: 0;padding: 0;line-height: 20px;color:orangered;font-size: 12px;text-align: right;">￥500.00</p>
            </div>

            <div class="item" style="float: left;width: 150px;margin: 10px 7px 20px 7px;border-bottom: 1px solid #CCC;">
                <img src="/statics/img/web2/detail1.png" style="width: 150px;height: 150px;"/>
                <a style="margin: 0;padding: 0;line-height: 20px;color: #555;font-size: 12px;">这里是商品的标题可...</a>
                <p style="margin: 0;padding: 0;line-height: 20px;color:orangered;font-size: 12px;text-align: right;">￥500.00</p>
            </div>

            <div class="item" style="float: left;width: 150px;margin: 10px 7px 20px 7px;border-bottom: 1px solid #CCC;">
                <img src="/statics/img/web2/detail1.png" style="width: 150px;height: 150px;"/>
                <a style="margin: 0;padding: 0;line-height: 20px;color: #555;font-size: 12px;">这里是商品的标题可...</a>
                <p style="margin: 0;padding: 0;line-height: 20px;color:orangered;font-size: 12px;text-align: right;">￥500.00</p>
            </div>

            <div class="item" style="float: left;width: 150px;margin: 10px 7px 20px 7px;border-bottom: 1px solid #CCC;">
                <img src="/statics/img/web2/detail1.png" style="width: 150px;height: 150px;"/>
                <a style="margin: 0;padding: 0;line-height: 20px;color: #555;font-size: 12px;">这里是商品的标题可...</a>
                <p style="margin: 0;padding: 0;line-height: 20px;color:orangered;font-size: 12px;text-align: right;">￥500.00</p>
            </div>

            <div class="item" style="float: left;width: 150px;margin: 10px 7px 20px 7px;border-bottom: 1px solid #CCC;">
                <img src="/statics/img/web2/detail1.png" style="width: 150px;height: 150px;"/>
                <a style="margin: 0;padding: 0;line-height: 20px;color: #555;font-size: 12px;">这里是商品的标题可...</a>
                <p style="margin: 0;padding: 0;line-height: 20px;color:orangered;font-size: 12px;text-align: right;">￥500.00</p>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    {{template "footerpart" .}}

    {{template "scripts"}}
</body>
</html>