<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{{.goods.Title}} - {{.goods.Category}} - 一村一品</title>
    {{template "styles"}}
</head>
<body>
    {{template "headerpart" .}}

	<!--main-->
    <div class="pos">
        <img src="/statics/img/web/icon_house.png" />
        <span><a href="/web">一村一品</a></span>
        >
        {{if ne .currentCategory.Parent ""}}
        <span><a href="/web/gcat?c={{.currentCategory.Parent}}">{{.currentCategory.Parent}}</a></span>
        >
        {{end}}
        <span><a href="/web/gcat?c={{.currentCategory.Name}}">{{.currentCategory.Name}}</a></span>
        >
        <span><a href="#">{{.goods.Title}}</a></span>
    </div>

    <div class="goods-info">

        <div class="pic">
            <img class="big" src="{{GetJsonData .goods.Images "group_1"}}" alt=""/>
            <img class="small" src="{{GetJsonData .goods.Images "group_1"}}" alt=""/>
            <img class="small" src="{{GetJsonData .goods.Images "group_2"}}" alt=""/>
            <img class="small" src="{{GetJsonData .goods.Images "group_3"}}" alt=""/>
            <img class="small" src="{{GetJsonData .goods.Images "group_4"}}" alt=""/>
        </div>

        <div class="info">
            <p class="title">{{.goods.Title}}</p>
            <p class="sub-title">产地：{{.goods.Origin}}</p>
            <p class="price">￥{{.goods.Price}}<span style="font-size: 14px; color: #999; font-weight: normal;"> / {{.goods.Unit}}</span></p>

            <div class="rec-reason">
                <p class="title">一村一品的推荐理由：</p>
                <p class="content">
                    {{ConvertToHtml .goods.Recommend}}
                </p>
            </div>

            <div class="buy-collect">
                <a href="{{.goods.BuyLink}}" target="_blank"><img src="/statics/img/web/btn_gotobuy.png" alt=""/></a>
                <span><img src="/statics/img/web/btn_collect.png" alt=""/></span>
            </div>

            <div class="share">
                <span>分享商品：</span>
                <a href="#"><img src="/statics/img/web/share/share1.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share2.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share3.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share4.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share5.png" /></a>
                <a href="#"><img src="/statics/img/web/share/share6.png" /></a>
            </div>
        </div>

        <div class="clear"></div>
    </div>

    <a name="detail"></a>
    <div class="detail">
        <div><img src="/statics/img/web/line.png" alt=""/></div>
        <p class="title">商品详情</p>

        <div>
            {{ConvertToHtml .goods.Content}}
        </div>
    </div>

    <a name="comment"></a>
    <div class="comment">
        <div><img src="/statics/img/web/line.png" alt=""/></div>
        <p class="title">评论互动</p>

        <div id="commentForm" style="margin: 20px auto;width: 618px;">
            <div style="float: left;">
                <textarea id="commentContent" style="margin: 0;padding:5px; height: 38px;width: 550px;"></textarea>
            </div>
            <div style="float: left;">
                <a href="javascript:void(0);" onclick="CommonFormSubmit();" style="line-height:50px;display:inline-block;margin-left:10px; width: 45px;text-align: center; background: #222;color: #FFF;font-size: 14px;">发布</a>
            </div>

            <div class="clear"></div>
        </div>

        <div id="commonList" style="margin: 20px auto;width: 618px;">
            <table style="width: 618px;font-size: 12px;color: #555;">
                <tbody>
                    {{range .comments}}
                    <tr>
                        <td rowspan="2" style="width: 32px; vertical-align: top;text-align: center;">
                            <img class="comment-avatar" style="width:32px;height: 32px;" title="{{.Name}}" src="" />
                        </td>
                        <td style=" vertical-align: top;font-weight: bold;padding-left: 15px;">{{.Name}}</td>
                        <td style=" vertical-align: top;text-align: right;">{{.Time}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-bottom: 20px;padding-left:15px;line-height: 20px; vertical-align: top;">
                            {{.Content}}
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td style="text-align: center; padding-bottom: 20px;padding-left:15px;line-height: 20px; vertical-align: top;">
                            还没有评论哦，赶紧抢下沙发吧:-)
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

        <div id="commentPager" style="display: none;">
            <a href="#">首页</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">...</a>
            <a href="#">9</a>
            <a href="#">10</a>
            <a href="#">12</a>
            <a href="#">13</a>
            <a href="#">尾页</a>
        </div>
    </div>
    {{if ne 0 (len .recommends)}}
    <div class="recommend">
        <div><img src="/statics/img/web/line.png" alt=""/></div>
        <p class="title">猜你喜欢</p>

        <div class="recommendList">
            {{range $k, $v := .recommends}}
            <div class="item" style="float: left;width: 150px;margin: 10px 7px 20px 7px;border-bottom: 1px solid #CCC;">
                <img src="{{GetJsonData $v.Images "small"}}" style="width: 150px;height: 150px;"/>
                <a style="margin: 0;padding: 0;line-height: 20px;color: #555;font-size: 12px;">{{$v.Title}}</a>
                <p style="margin: 0;padding: 0;line-height: 20px;color:orangered;font-size: 12px;text-align: right;">￥{{$v.Price}}<span style="font-size: 14px; color: #999; font-weight: normal;"> / {{$v.Unit}}</span></p>
            </div>
            {{else}}
            <div>
                ...
            </div>
            {{end}}
            <div class="clear"></div>
        </div>
    </div>
    {{end}}

    {{template "footerpart" .}}

    {{template "scripts"}}
    <script>
        $(function(){
            LoadAvatar();

            $('.pic .small').hover(function(){
                var url = $(this).attr("src");
                $('.pic .big').attr("src", url);
            });
        });

        function LoadAvatar() {
            var account_email = $(".comment-avatar").attr("title");
            if (account_email != "" && account_email != undefined) {
                $(".comment-avatar").attr("src", "https://secure.gravatar.com/avatar/" + MD5(account_email) + "");
            }
        }

        function CommonFormSubmit(){
            var content = $('#commentContent').val();
            $.ajax({
                type: 'POST',
                url: '/web/comment/create',
                data: {
                    goodsid: {{.goods.Id}},
                    content: content
                },
                success: function (data) {
                    location.reload();
                },
                dataType: 'text'
            });
        }
    </script>
</body>
</html>