{{define "headerpart"}}

<div id="header">
    <div id="top">
        <div class="wrap">
            <span class="left-title">把真正的农产品带回家！</span>
            {{if .IsUserLogin}}
            <img class="icon-user" src="/statics/img/web/myordericon.png" />
            <a href="/user" class="link-user">我的村里</a>
            {{else}}
            <a href="/user/login" class="link-user-login">登录</a>
            <a href="/user/register" class="link-user-reg">注册</a>
            {{end}}
            <img class="icon-vline" src="/statics/img/web/hlineicon.png" />
            <a href="/web/service" class="link-service">客户服务</a>
            <a href="/web/help" class="link-help">帮助</a>
            <img class="icon-down" src="/statics/img/web/downicon.png" />
        </div>
    </div>
    <div id="logo_search" class="wrap">
        <div id="logo"><img src="/statics/img/web/logo.png" /></div>
        <div id="search"></div>
    </div>
    <div id="nav" class="wrap">
        <a href="/web" class="item" style="border-left:none;">首页</a>
        <a href="{{UrlEncode "/web/gcat?c=华农出品"}}" class="item">华农出品</a>
        <a href="{{UrlEncode "/web/gcat?c=优质粮油"}}" class="item">优质粮油</a>
        <a href="{{UrlEncode "/web/gcat?c=农家干货"}}" class="item">农家干货</a>
        <a href="{{UrlEncode "/web/gcat?c=新鲜果蔬"}}" class="item">新鲜果蔬</a>
        <span class="item2">
            <a href="#" style="line-height: 50px;display: inline-block;">一品生活</a>
            <ul class="nav-sub-nav">
                <li><a href="{{UrlEncode "/web/acat?c=一品菜谱"}}">一品菜谱</a></li>
                <li><a href="{{UrlEncode "/web/acat?c=一品养生"}}">一品养生</a></li>
                <li><a href="{{UrlEncode "/web/acat?c=一品故事"}}">一品故事</a></li>
            </ul>
        </span>
        <a href="/web/message" class="item">反馈建议</a>
    </div>
</div>

{{end}}