{{define "headerpart"}}
<div id="header">
    <div id="top">
        <div class="wrap">
            <span class="left-title">把真正的农产品带回家！</span>
            <!-- <img class="icon-user" src="images/myordericon.png" /> -->
            <!-- <a href="/user" class="link-user">我的村里</a> -->
            <a href="/user/login" class="link-user-login">登录</a>
            <a href="/user/register" class="link-user-reg">注册</a>
            <img class="icon-vline" src="/statics/img/web/hlineicon.png" />
            <a href="/web/service" class="link-service">客户服务</a>
            <a href="/web/help" class="link-help">帮助</a>
            <img class="icon-down" src="/statics/img/web/downicon.png" />
        </div>
    </div>
    <div id="logo_search" class="wrap">
        <div id="logo">
            <div class="nav_left">
                <a href="/web" class="item" style="border-left:none;"><img src="/statics/img/web/nav/nav01.png" alt=""></a>
                <a href="{{UrlEncode "/web/gcat?c=一品推荐"}}" class="item"><img src="/statics/img/web/nav/nav02.png" alt=""></a>
                <a href="{{UrlEncode "/web/gcat?c=高校出品"}}" class="item"><img src="/statics/img/web/nav/nav03.png" alt=""></a>
            </div>
            <img src="/statics/img/web/logo.png" />
            <div class="nav_right">
                <a href="{{UrlEncode "/web/acat?c=一品故事"}}" class="item" style="border-left:none;"><img src="/statics/img/web/nav/nav04.png" alt=""></a>
                <a href="{{UrlEncode "/web/acat?c=一品养生"}}"><img src="/statics/img/web/nav/nav05.png" alt=""></a>
                <a href="{{UrlEncode "/web/acat?c=一品菜谱"}}" class="item"><img src="/statics/img/web/nav/nav06.png" alt=""></a>
            </div>
        </div>
    </div>
</div>

{{end}}