{{define "headerpart"}}

<div id="header">
    <div id="top">
        <div class="wrap">
            <span style="position: absolute; top: 9px;left: 18px;">把真正的农产品带回家！</span>
            <img style="position: absolute; top: 12px;right: 210px;" src="/statics/img/web/myordericon.png" />
            <span style="position: absolute; top: 10px;right: 154px;font-family: 宋体;color: #ddd;">我的订单</span>
            <img style="position: absolute; top: 5px;right: 135px;" src="/statics/img/web/hlineicon.png" />
            <span style="position: absolute; top: 10px;right: 68px;font-family: 宋体;color: #ddd;">客户服务</span>
            <span style="position: absolute; top: 10px;right: 28px;font-family: 宋体;color: #ddd;">帮助</span>
            <img style="position: absolute; top: 15px;right: 16px;" src="/statics/img/web/downicon.png" />
        </div>
    </div>
    <div id="logo_search">
        <div id="logo"><img src="/statics/img/web/logo.png" /></div>
        <div id="search"></div>
    </div>
    <div id="nav">
        <a class="item" style="border-left:none;">首页</a>
        <a class="item">优质粮油</a>
        <a class="item">农家干货</a>
        <a class="item">无公害蔬菜</a>
        <a class="item">季节促销</a>
        <a class="item">健康食谱</a>
        <a class="item">反馈建议</a>
    </div>
</div>

{{end}}