<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>首页 - 一村一品</title>
    {{template "styles"}}
</head>
<body>
    {{template "headerpart" .}}

    <!--main-->
    <div class="silder">
        <div>
            <span class="prev"></span>
            <span class="next"></span>
        </div>
        <div class="slide_content">
            <div class="slide_content_list">
                <ul>
                    <li><a href="#"><img src="/statics/img/web/slider/pic1.png" alt="健康粮油，最佳使用方法&美味健康孕妇餐"></a></li>
                    <li><a href="#"><img src="/statics/img/web/slider/pic2.png" alt="粮油与健康"></a></li>
                    <li><a href="#"><img src="/statics/img/web/slider/pic1.png" alt="健康粮油，最佳使用方法&美味健康孕妇餐"></a></li>
                    <li><a href="#"><img src="/statics/img/web/slider/pic2.png" alt="粮油与健康"></a></li>
                    <li><a href="#"><img src="/statics/img/web/slider/pic1.png" alt="健康粮油，最佳使用方法&美味健康孕妇餐"></a></li>
                    <li><a href="#"><img src="/statics/img/web/slider/pic2.png" alt="粮油与健康"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 1楼 -->
    <div class="floor">
        <div class="floortop">
            <span class="title">优质粮油</span>
            <img class="recommendicon" src="/statics/img/web/recommend.png" />
            <span class="recommendtext">一村一品精品</span>
            <a href="#more" class="more">MORE></a>
        </div>
        <div class="floorleft">
            <div class="top"><img src="/statics/img/web1/grain11.jpg" /></div>
            <div class="mid">
                <span class="cat-tag">大米</span>
                <span class="cat-tag">粗粮</span>
                <span class="cat-tag">山茶油</span>
                <span class="cat-tag">橄榄油</span>
                <span class="cat-tag">五谷杂粮</span>
                <span class="cat-tag">健康礼品</span>
            </div>
            <div class="floorbottom">
                <p class="title">本分类销售排行</p>
                <ul class="list">
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                </ul>
            </div>
        </div>
        <div style="float:left;width:952px;margin-bottom:2px;height: 240px;">
            <div><img style="float:left;height: 240px;width: 376px;margin-right: 2px;" src="/statics/img/web1/grain2.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/grain3.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/grain4.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;" src="/statics/img/web1/grain5.jpg" /></div>
        </div>
        <div style="float:left;width:952px;height: 240px;">
            <div><img style="float:left;height: 240px;width: 376px;margin-right: 2px;" src="/statics/img/web1/grain7.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/grain8.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/grain9.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;" src="/statics/img/web1/grain10.jpg" /></div>
        </div>

        <div class="clear"></div>
    </div>

    <!-- 2楼 -->
    <div class="floor">
        <div class="floortop">
            <span class="title">农家干货</span>
            <img class="recommendicon" src="/statics/img/web/recommend.png" />
            <span class="recommendtext">一村一品精品</span>
            <a href="#more" class="more">MORE></a>
        </div>
        <div class="floorleft">
            <div class="top"><img src="/statics/img/web1/cargo1.jpg" /></div>
            <div class="mid">
                <span class="cat-tag">大米</span>
                <span class="cat-tag">粗粮</span>
                <span class="cat-tag">山茶油</span>
                <span class="cat-tag">橄榄油</span>
                <span class="cat-tag">五谷杂粮</span>
                <span class="cat-tag">健康礼品</span>
            </div>
            <div class="floorbottom">
                <p class="title">本分类销售排行</p>
                <ul class="list">
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                </ul>
            </div>
        </div>
        <div style="float:left;width:952px;margin-bottom:2px;height: 240px;">
            <div><img style="float:left;height: 240px;width: 376px;margin-right: 2px;" src="/statics/img/web1/cargo2.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/cargo3.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/cargo4.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;" src="/statics/img/web1/cargo5.jpg" /></div>
        </div>
        <div style="float:left;width:952px;height: 240px;">
            <div><img style="float:left;height: 240px;width: 376px;margin-right: 2px;" src="/statics/img/web1/cargo7.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/cargo8.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/cargo9.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;" src="/statics/img/web1/cargo10.jpg" /></div>
        </div>

        <div class="clear"></div>
    </div>

    <!-- 3楼 -->
    <div class="floor">
        <div class="floortop">
            <span class="title">无公害蔬菜</span>
            <img class="recommendicon" src="/statics/img/web/recommend.png" />
            <span class="recommendtext">一村一品精品</span>
            <a href="#more" class="more">MORE></a>
        </div>
        <div class="floorleft">
            <div class="top"><img src="/statics/img/web1/vegetables1.jpg" /></div>
            <div class="mid">
                <span class="cat-tag">大米</span>
                <span class="cat-tag">粗粮</span>
                <span class="cat-tag">山茶油</span>
                <span class="cat-tag">橄榄油</span>
                <span class="cat-tag">五谷杂粮</span>
                <span class="cat-tag">健康礼品</span>
            </div>
            <div class="floorbottom">
                <p class="title">本分类销售排行</p>
                <ul class="list">
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                </ul>
            </div>
        </div>
        <div style="float:left;width:952px;margin-bottom:2px;height: 240px;">
            <div><img style="float:left;height: 240px;width: 376px;margin-right: 2px;" src="/statics/img/web1/vegetables2.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/vegetables3.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/vegetables4.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;" src="/statics/img/web1/vegetables5.jpg" /></div>
        </div>
        <div style="float:left;width:952px;height: 240px;">
            <div><img style="float:left;height: 240px;width: 376px;margin-right: 2px;" src="/statics/img/web1/vegetables7.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/vegetables8.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/vegetables9.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;" src="/statics/img/web1/vegetables10.jpg" /></div>
        </div>

        <div class="clear"></div>
    </div>

    <!-- 4楼 -->
    <div class="floor">
        <div class="floortop">
            <span class="title">季节促销</span>
            <img class="recommendicon" src="/statics/img/web/recommend.png" />
            <span class="recommendtext">一村一品精品</span>
            <a href="#more" class="more">MORE></a>
        </div>
        <div class="floorleft">
            <div class="top"><img src="/statics/img/web1/sales1.jpg" /></div>
            <div class="mid">
                <span class="cat-tag">大米</span>
                <span class="cat-tag">粗粮</span>
                <span class="cat-tag">山茶油</span>
                <span class="cat-tag">橄榄油</span>
                <span class="cat-tag">五谷杂粮</span>
                <span class="cat-tag">健康礼品</span>
            </div>
            <div class="floorbottom">
                <p class="title">本分类销售排行</p>
                <ul class="list">
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                    <li>龙川义都香米</li>
                </ul>
            </div>

            </div>
        </div>
        <div style="float:left;width:952px;margin-bottom:2px;height: 240px;">
            <div><img style="float:left;height: 240px;width: 376px;margin-right: 2px;" src="/statics/img/web1/sales2.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/sales3.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/sales4.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;" src="/statics/img/web1/sales5.jpg" /></div>
        </div>
        <div style="float:left;width:952px;height: 240px;">
            <div><img style="float:left;height: 240px;width: 376px;margin-right: 2px;" src="/statics/img/web1/sales7.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/sales8.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;margin-right: 2px;" src="/statics/img/web1/sales9.jpg" /></div>
            <div><img style="float:left;height: 240px;width: 190px;" src="/statics/img/web1/sales10.jpg" /></div>
        </div>

        <div class="clear"></div>
    </div>


    {{template "footerpart" .}}

    {{template "scripts"}}
    <script src="/statics/js/scroll.js"></script>
    <script>
        $(function(){
            o = $('.floor');
            o.append(o);
        });
    </script>
</body>
</html>