<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="E村E品,一村一品,绿色农产品,农产品,农产品导购,扶贫,广州迅睿网络科技有限公司">
    <meta name="description" content="广州迅睿网络科技有限公司">

    <title>首页 - 一村一品</title>
    {{template "styles"}}
</head>
<body>
    {{template "headerpart" .}}

    <!--main-->
    <div class="silder">
        <div>
            <span class="prev"></span>
            <span class="next"></span>
        </div>
        <div class="slide_content">
            <div class="slide_content_list">
                <ul>
                    <li><a href="#"><img src="/statics/img/web/slider/pic1.png" alt="健康粮油，最佳使用方法&美味健康孕妇餐"></a></li>
                    <li><a href="#"><img src="/statics/img/web/slider/pic2.png" alt="粮油与健康"></a></li>
                    <li><a href="#"><img src="/statics/img/web/slider/pic1.png" alt="健康粮油，最佳使用方法&美味健康孕妇餐"></a></li>
                    <li><a href="#"><img src="/statics/img/web/slider/pic2.png" alt="粮油与健康"></a></li>
                    <li><a href="#"><img src="/statics/img/web/slider/pic1.png" alt="健康粮油，最佳使用方法&美味健康孕妇餐"></a></li>
                    <li><a href="#"><img src="/statics/img/web/slider/pic2.png" alt="粮油与健康"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 1楼 -->
    <div class="floor">
        <div class="floortop">
            <span class="title">优质粮油</span>
            <img class="recommendicon" src="/statics/img/web/recommend.png" />
            <span class="recommendtext">一村一品精品</span>
            <a href="{{UrlEncode "/web/gcat?c=优质粮油"}}" class="more">MORE></a>
        </div>
        <div class="floorleft">
            <div class="top"><img src="/statics/img/web/floor/grain.jpg" /></div>
            <div class="mid">
                {{range $k, $v := .F1_SubCol}}
                <a class="cat-tag" href="/web/gcat?c={{$v.Name}}">{{$v.Name}}</a>
                {{end}}
            </div>
            <div class="floorbottom">
                <p class="title">本分类热门推荐</p>
                <ul class="list">
                    {{range $k, $v := .F1_HotGoods}}
                    <li><a target="_blank" href="/web/goods?id={{$v.Id}}">{{$v.Title}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
        <div class="floorright">
            <div class="floor-first-item">
                <a href="/web/goods?id={{.F1_UP.Id}}" target="_blank"><img src="{{GetJsonData .F1_UP.Images "large"}}" /></a>
            </div>
            {{range $k, $v := .F1_UPs}}
            <div class="floor-item">
                <p>{{$v.Title}}<br />￥{{$v.Price}}</p>
                <a href="/web/goods?id={{$v.Id}}" target="_blank"><img src="{{GetJsonData $v.Images "small"}}" /></a>
            </div>
            {{end}}
        </div>
        <div class="floorright">
            <div class="floor-first-item">
                <a href="/web/goods?id={{.F1_DOWN.Id}}" target="_blank"><img src="{{GetJsonData .F1_DOWN.Images "small"}}" /></a>
            </div>
            {{range $k, $v := .F1_DOWNs}}
            <div class="floor-item">
                <p>{{$v.Title}}<br />￥{{$v.Price}}</p>
                <a href="/web/goods?id={{$v.Id}}" target="_blank"><img src="{{GetJsonData $v.Images "small"}}" /></a>
            </div>
            {{end}}
        </div>

        <div class="clear"></div>
    </div>

    <!-- 2楼 -->
    <div class="floor">
        <div class="floortop">
            <span class="title">农家干货</span>
            <img class="recommendicon" src="/statics/img/web/recommend.png" />
            <span class="recommendtext">一村一品精品</span>
            <a href="{{UrlEncode "/web/gcat?c=农家干货"}}" class="more">MORE></a>
        </div>
        <div class="floorleft">
            <div class="top"><img src="/statics/img/web/floor/cargo.jpg" /></div>
            <div class="mid">
                {{range $k, $v := .F2_SubCol}}
                <a class="cat-tag" href="/web/gcat?c={{$v.Name}}">{{$v.Name}}</a>
                {{end}}
            </div>
            <div class="floorbottom">
                <p class="title">本分类热门推荐</p>
                <ul class="list">
                    {{range $k, $v := .F2_HotGoods}}
                    <li><a target="_blank" href="/web/goods?id={{$v.Id}}">{{$v.Title}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
        <div class="floorright">
            <div class="floor-first-item">
                <a href="/web/goods?id={{.F2_UP.Id}}" target="_blank"><img src="{{GetJsonData .F2_UP.Images "large"}}" /></a>
            </div>
            {{range $k, $v := .F2_UPs}}
            <div class="floor-item">
                <p>{{$v.Title}}<br />￥{{$v.Price}}</p>
                <a href="/web/goods?id={{$v.Id}}" target="_blank"><img src="{{GetJsonData $v.Images "small"}}" /></a>
            </div>
            {{end}}
        </div>
        <div class="floorright">
            <div class="floor-first-item">
                <a href="/web/goods?id={{.F2_DOWN.Id}}" target="_blank"><img src="{{GetJsonData .F2_DOWN.Images "small"}}" /></a>
            </div>
            {{range $k, $v := .F2_DOWNs}}
            <div class="floor-item">
                <p>{{$v.Title}}<br />￥{{$v.Price}}</p>
                <a href="/web/goods?id={{$v.Id}}" target="_blank"><img src="{{GetJsonData $v.Images "small"}}" /></a>
            </div>
            {{end}}
        </div>

        <div class="clear"></div>
    </div>

    <!-- 3楼 -->
    <div class="floor">
        <div class="floortop">
            <span class="title">新鲜果蔬</span>
            <img class="recommendicon" src="/statics/img/web/recommend.png" />
            <span class="recommendtext">一村一品精品</span>
            <a href="{{UrlEncode "/web/gcat?c=新鲜果蔬"}}" class="more">MORE></a>
        </div>
        <div class="floorleft">
            <div class="top"><img src="/statics/img/web/floor/vegetables.jpg" /></div>
            <div class="mid">
                {{range $k, $v := .F3_SubCol}}
                <a class="cat-tag" href="/web/gcat?c={{$v.Name}}">{{$v.Name}}</a>
                {{end}}
            </div>
            <div class="floorbottom">
                <p class="title">本分类热门推荐</p>
                <ul class="list">
                    {{range $k, $v := .F3_HotGoods}}
                    <li><a target="_blank" href="/web/goods?id={{$v.Id}}">{{$v.Title}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
        <div class="floorright">
            <div class="floor-first-item">
                <a href="/web/goods?id={{.F3_UP.Id}}" target="_blank"><img src="{{GetJsonData .F3_UP.Images "large"}}" /></a>
            </div>
            {{range $k, $v := .F3_UPs}}
            <div class="floor-item">
                <p>{{$v.Title}}<br />￥{{$v.Price}}</p>
                <a href="/web/goods?id={{$v.Id}}" target="_blank"><img src="{{GetJsonData $v.Images "small"}}" /></a>
            </div>
            {{end}}
        </div>
        <div class="floorright">
            <div class="floor-first-item">
                <a href="/web/goods?id={{.F3_DOWN.Id}}" target="_blank"><img src="{{GetJsonData .F3_DOWN.Images "small"}}" /></a>
            </div>
            {{range $k, $v := .F3_DOWNs}}
            <div class="floor-item">
                <p>{{$v.Title}}<br />￥{{$v.Price}}</p>
                <a href="/web/goods?id={{$v.Id}}" target="_blank"><img src="{{GetJsonData $v.Images "small"}}" /></a>
            </div>
            {{end}}
        </div>

        <div class="clear"></div>
    </div>

    <!-- 4楼 -->
    <div class="floor">
        <div class="floortop">
            <span class="title">华农出品</span>
            <img class="recommendicon" src="/statics/img/web/recommend.png" />
            <span class="recommendtext">一村一品精品</span>
            <a href="{{UrlEncode "/web/gcat?c=华农出品"}}" class="more">MORE></a>
        </div>
        <div class="floorleft">
            <div class="top"><img src="/statics/img/web/floor/scauproduct.jpg" /></div>
            <div class="mid">
                {{range $k, $v := .F4_SubCol}}
                <a class="cat-tag" href="/web/gcat?c={{$v.Name}}">{{$v.Name}}</a>
                {{end}}
            </div>
            <div class="floorbottom">
                <p class="title">本分类热门推荐</p>
                <ul class="list">
                    {{range $k, $v := .F4_HotGoods}}
                    <li><a target="_blank" href="/web/goods?id={{$v.Id}}">{{$v.Title}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
        <div class="floorright">
            <div class="floor-first-item">
                <a href="/web/goods?id={{.F4_UP.Id}}" target="_blank"><img src="{{GetJsonData .F4_UP.Images "large"}}" /></a>
            </div>
            {{range $k, $v := .F4_UPs}}
            <div class="floor-item">
                <p>{{$v.Title}}<br />￥{{$v.Price}}</p>
                <a href="/web/goods?id={{$v.Id}}" target="_blank"><img src="{{GetJsonData $v.Images "small"}}" /></a>
            </div>
            {{end}}
        </div>
        <div class="floorright">
            <div class="floor-first-item">
                <a href="/web/goods?id={{.F4_DOWN.Id}}" target="_blank"><img src="{{GetJsonData .F4_DOWN.Images "large"}}" /></a>
            </div>
            {{range $k, $v := .F4_DOWNs}}
            <div class="floor-item">
                <p>{{$v.Title}}<br />￥{{$v.Price}}</p>
                <a href="/web/goods?id={{$v.Id}}" target="_blank"><img src="{{GetJsonData $v.Images "small"}}" /></a>
            </div>
            {{end}}
        </div>

        <div class="clear"></div>
    </div>


    {{template "footerpart" .}}

    {{template "scripts"}}
    <script src="/statics/js/scroll.js"></script>
</body>
</html>