<!DOCTYPE html>

<html>
<head>
    <title>Create User - Electronic Commerce Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{template "styles"}}
    <style>
        .create-category-tmp{margin-right: 10px;}
    </style>
</head>
<body>
    <div id="leftside">
        {{template "leftside" .}}
    </div>

    <div id="rightside">

        <div class="main">

            <a href="javascript:void(0);" onclick="history.back(-1);"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>

            <h3>Create New Shop</h3>

            <form class="create-form">
                <div class="form-group">
                    <label for="CreateName">Name</label>
                    <input type="text" class="form-control" id="CreateName" placeholder="Enter user name" />
                </div>
                <div class="form-group">
                    <label for="CreateUserName">User Name</label>
                    <input type="text" class="form-control" id="CreateUserName" placeholder="Enter user name" />
                </div>
                <div class="form-group">
                    <label for="CreateKind">Kind</label>
                    <select class="form-control" id="CreateKind">
                        {{range $k, $v := .ShopKindMap}}
                        <option value="{{$k}}">{{$v}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="CreateStatus">Status</label>
                    <select class="form-control" id="CreateStatus">
                        {{range $k, $v := .ShopStatusMap}}
                        <option value="{{$k}}">{{$v}}</option>
                        {{end}}
                    </select>
                </div>

                <button type="button" class="btn btn-primary" onclick="SubmitCreateForm()">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </form>

        </div>
    </div>

    <div class="clear"></div>

    {{template "scripts"}}

    <script>
        // 提交表单
        function SubmitCreateForm() {
            var name = $('#CreateName').val();
            var username = $('#CreateUserName').val();
            var kind = $('#CreateKind').val();
            var status = $('#CreateStatus').val();

            // 表单验证
            if (name == ""){
                alert("Name could not be empty")
                return
            }
            if (username == ""){
                alert("user name could not be empty")
                return
            }

            $.ajax({
                type: 'POST',
                url: '/webmaster/shop/create',
                data: {
                    name: name,
                    username: username,
                    kind: kind,
                    status: status
                },
                success: function (data) {
                    location.href = "/webmaster/shop"
                },
                dataType: 'text'
            });
        }
    </script>
</body>
</html>