<!DOCTYPE html>

<html>
<head>
    <title>Edit Article - Electronic Commerce Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{template "styles"}}
    <link href="/statics/thirdpart/uploadify/uploadify.css" rel="stylesheet" />
    <style>
        .edit-category-tmp{margin-right: 10px;}
        .uploadify-img{width: 120px;height: 120px;}
    </style>
</head>
<body>
<div id="leftside">
    {{template "leftside" .}}
</div>

<div id="rightside">

    <div class="main">

        <a href="javascript:void(0);" onclick="history.back(-1)"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>

        <h3>Edit Shop</h3>

        <form class="edit-form">
            <div class="form-group">
                <label for="EditName">Name</label>
                <input type="text" class="form-control" id="EditName" disabled="disabled" />
            </div>
            <div class="form-group">
                <label for="EditUserName">User Name</label>
                <input type="text" class="form-control" id="EditUserName" />
            </div>
            <div class="form-group">
                <label for="EditKind">Kind</label>
                <select class="form-control" id="EditKind">
                    {{range $key, $value := .ShopKindMap}}
                    <option value="{{$key}}">{{$value}}</option>
                    {{end}}
                </select>
            </div>
            <div class="form-group">
                <label for="EditIntroduce">Introduce</label>
                <textarea class="form-control" id="EditIntroduce"></textarea>
            </div>
            <div class="form-group">
                <label for="EditApplyStatement">Apply Statement</label>
                <textarea class="form-control" id="EditApplyStatement"></textarea>
            </div>
            <div class="form-group">
                <label for="EditStatus">Status</label>
                <select class="form-control" id="EditStatus">
                    {{range $key, $value := .ShopStatusMap}}
                    <option value="{{$key}}">{{$value}}</option>
                    {{end}}
                </select>
            </div>

            <input type="hidden" id="EditId" />
            <button type="button" class="btn btn-primary" onclick="SubmitEditForm()">Submit</button>
            <button type="button" class="btn btn-default" onclick="InitForm()">Reset</button>
        </form>

    </div>
</div>

<div class="clear"></div>

{{template "scripts"}}
<script src="http://cdn.bootcss.com/ckeditor/4.4.2/ckeditor.js"></script>
<script src="http://cdn.bootcss.com/ckeditor/4.4.2/adapters/jquery.min.js"></script>
<script src="/statics/thirdpart/uploadify/jquery.uploadify-3.2.min.js"></script>
<script>
    $(function(){
        InitForm();
        InitCKEditor();
    });

    // 初始化CKEditor
    function InitCKEditor(){
        // 先设置上传目录
        var upload_dir = "shop/{{.Shop.Name}}/";
        $('#EditIntroduce, #EditApplyStatement').ckeditor({
            height: '450',
            toolbar: [
                { name: 'document', items: ['Source', '-', 'Preview', 'Print', '-'] },
                { name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
                { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript'] },
                { name: 'insert', items: ['Image', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak'] },
                { name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
                '/',
                { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl'] },
                { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] },
                { name: 'colors', items: ['TextColor', 'BGColor'] }
            ],
            image_previewText: ' ',
            filebrowserImageUploadUrl: '/uploadprocess/webmaster/ckeditor?dir=' + upload_dir
        });
    }

    // 初始化表单
    function InitForm(){
        $('#EditName').val({{.Shop.Name}});
        $('#EditUserName').val({{.Shop.UserName}});
        $('#EditKind').val({{.Shop.Kind}});
        $('#EditIntroduce').val({{.Shop.Introduce}});
        $('#EditApplyStatement').val({{.Shop.ApplyStatement}});
        $('#EditStatus').val({{.Shop.Status}});
    }

    // 提交表单
    function SubmitEditForm(){
        var name = $('#EditName').val();
        var username = $('#EditUserName').val();
        var kind = $('#EditKind').val();
        var introduce = $('#EditIntroduce').val();
        var applystatement = $('#EditApplyStatement').val();
        var status = $('#EditStatus').val();

        // 表单验证
        if (name == ""){
            alert("Title could not be empty")
            return
        }

        $.ajax({
            type: 'POST',
            url: '/webmaster/shop/edit',
            data: {
                name: name,
                username: username,
                kind: kind,
                introduce: introduce,
                applystatement: applystatement,
                status: status
            },
            success: function(data) {
                location.reload();
            },
            dataType: 'text'
        });
    }
</script>
</body>
</html>