<!DOCTYPE html>

<html>
  <head>
    <title>Dashboard - Electronic Commerce Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{template "styles"}}
    <style>
      .create-form{display: none; padding: 10px; margin: 10px 0;border: 1px solid #CCC;}


      .edit-form{display: display;width: 350px;position: fixed;top: 200px;left:280px;right:0; padding: 10px; margin: 10px auto;border: 1px solid #CCC; background: #999;}
    </style>
  </head>
  <body>
    <div id="leftside">
      {{template "leftside" .}}
    </div>

    <div id="rightside">
      <div class="main">
        <a href="javascript:void(0);" onclick="ShowCreateForm()"><span class="glyphicon glyphicon-plus"></span> Create</a>
        <form class="create-form">
          <label>Title</label>
          <input id="CreateName" type="text" />
          <label>Parent</label>
          <select id="CreateParent">
            <option>No Parent</option>
            {{range $index, $item := .CategoryList}}
            <option>{{$item.Name}}</option>
            {{end}}
          </select>
          <label>Ordering</label>
          <input id="CreateOrdering" type="text" value="0" />
          <button type="button" onclick="SubmitCreateForm()">Submit</button>
          <button type="button" onclick="HideCreateForm()">Cancel</button>
        </form>
        <form class="edit-form">
          <label>Title</label>
          <input id="EditName" disabled="disabled" type="text" />
          <label>Parent</label>
          <select id="EditParent">
            <option>No Parent</option>
            {{range $index, $item := .CategoryList}}
            <option>{{$item.Name}}</option>
            {{end}}
          </select>
          <label>Ordering</label>
          <input id="EditOrdering" type="text" value="0" />
          <button type="button" onclick="SubmitCreateForm()">Submit</button>
          <button type="button" onclick="HideCreateForm()">Cancel</button>
        </form>
        <div>

          <table class="table">
            <thead>
              <tr>
                <td>#</td>
                <td>Name</td>
                <td>Parent</td>
                <td>Ordering</td>
                <td>Operation</td>
              </tr>
            </thead>
            <tbody>
              {{range $index, $item := .CategoryList}}
              <tr>
                <td>{{$index}}</td>
                <td>{{$item.Name}}</td>
                <td>{{$item.Parent}}</td>
                <td>{{$item.Ordering}}</td>
                <td>
                  <a href="javascript:void(0);" onclick="ShowEditForm()"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                  <a href="javascript:void(0);" onclick="Delete()"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    {{template "scripts"}}
    <script>
      function ShowCreateForm(){
        $('.create-form').slideDown();
      }
      function HideCreateForm(){
        $('.create-form').slideUp();
      }
      function SubmitCreateForm(){
        var name = $('#CreateName').val();
        var parent = $('#CreateParent').val();
        var ordering = $('#CreateOrdering').val();

        $.ajax({
         type: 'POST',
         url: '/webmaster/goodscategory/create',
         data: {
           name: name,
           parent: parent,
           ordering: ordering
         },
         success: function(data) {
            alert(data);
           location.reload();
         },
         dataType: 'text'
        });
      }
      
      function ShowEditForm(name){
        $('.edit-form').slideDown();
      }
      function HideEditForm(){
        $('.edit-form').slideUp();
      }


    </script>
  </body>
</html>