<!DOCTYPE html>

<html>
  <head>
    <title>Dashboard - Electronic Commerce Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{template "styles"}}
    <style>
      .create-form{display: none; padding: 10px; margin: 10px 0;border: 1px solid #CCC;}

      .masking{display: none; position: fixed; top:0;left:0; width:100%;height: 2000px;background: rgba(0,0,0,0.8);}
      .edit-form{display: none; width: 250px;position: fixed;top: 100px;left:0px;right:0; padding: 20px 40px; margin: 10px auto; border-radius: 10px; border: 1px solid #CCC; background: #999;}
    </style>
  </head>
  <body>
    <div id="leftside">
      {{template "leftside" .}}
    </div>

    <div id="rightside">
      <div class="main">
        <a href="javascript:void(0);" onclick="ShowCreateForm()"><span class="glyphicon glyphicon-plus"></span> Create</a>
        <form class="create-form">
          <label>Title</label>
          <input id="CreateName" type="text" />
          <label>Parent</label>
          <select id="CreateParent">
            <option value="">无</option>
            {{range $index, $item := .CategoryList}}
            <option>{{$item.Name}}</option>
            {{end}}
          </select>
          <label>Ordering</label>
          <input id="CreateOrdering" type="text" value="0" />
          <button type="button" onclick="SubmitCreateForm()">Submit</button>
          <button type="button" onclick="HideCreateForm()">Cancel</button>
        </form>

        <div>
          <table class="table">
            <thead>
              <tr>
                <td>#</td>
                <td>Name</td>
                <td>Parent</td>
                <td>Ordering</td>
                <td>Operation</td>
              </tr>
            </thead>
            <tbody>
              {{range $index, $item := .CategoryList}}
              <tr>
                <td>{{$index}}</td>
                <td>{{$item.Name}}</td>
                <td>{{$item.Parent}}</td>
                <td>{{$item.Ordering}}</td>
                <td>
                  <a href="javascript:void(0);" onclick="ShowEditForm('{{$index}}')"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                  <a href="javascript:void(0);" onclick="Delete('{{$item.Name}}')"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                </td>
              </tr>
              {{end}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="masking"></div>
    <form class="edit-form">
      <label>Title</label><br />
      <input id="EditName" disabled="disabled" type="text" /><br />
      <label>Parent</label><br />
      <select id="EditParent">
        <option value="">无</option>
        {{range $index, $item := .CategoryList}}
        <option>{{$item.Name}}</option>
        {{end}}
      </select>
      <br />
      <label>Ordering</label><br />
      <input id="EditOrdering" type="text" value="0" /><br />
      <br />
      <button type="button" onclick="SubmitEditForm()">Submit</button>
      <button type="button" onclick="HideEditForm()">Cancel</button>
    </form>

    {{template "scripts"}}
    <script>
      function ShowCreateForm(){
        $('.create-form').slideDown();
      }
      function HideCreateForm(){
        $('.create-form').slideUp();
      }
      function SubmitCreateForm(){
        var name = $('#CreateName').val();
        var parent = $('#CreateParent').val();
        var ordering = $('#CreateOrdering').val();

        $.ajax({
         type: 'POST',
         url: '/webmaster/goodscategory/create',
         data: {
           name: name,
           parent: parent,
           ordering: ordering
         },
         success: function(data) {
           location.reload();
         },
         dataType: 'text'
        });
      }
      
      function ShowEditForm(index){
        var o = $('.table tbody tr').eq(index);
        $('.masking').show();
        $('.edit-form').slideDown();
        $('#EditName').val(o.children('td').eq(1).text());
        $('#EditParent').val(o.children('td').eq(2).text());
        $('#EditOrdering').val(o.children('td').eq(3).text());
      }
      function HideEditForm(){
        $('.edit-form').slideUp();
        $('.masking').hide();
      }
      function SubmitEditForm(){
        var name = $('#EditName').val();
        var parent = $('#EditParent').val();
        var ordering = $('#EditOrdering').val();

        $.ajax({
         type: 'POST',
         url: '/webmaster/goodscategory/edit',
         data: {
           name: name,
           parent: parent,
           ordering: ordering
         },
         success: function(data) {
           location.reload();
         },
         dataType: 'text'
        });
      }
      function Delete(name){
        if(!confirm('Are you sure?')){
          return ;
        }
        $.ajax({
         type: 'POST',
         url: '/webmaster/goodscategory/delete',
         data: {
           name: name
         },
         success: function(data) {
           location.reload();
         },
         dataType: 'text'
        });
      }
    </script>
  </body>
</html>