<!DOCTYPE html>

<html>
  <head>
    <title>Dashboard - Electronic Commerce Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{template "styles"}}
  </head>
  <body>
    <div id="leftside">
      {{template "leftside" .}}
    </div>

    <div id="rightside">

      <div class="main">

        <a href="javascript:void(0);" onclick="history.back(-1)"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>

        <h3>Create New Goods</h3>

        <form class="create-form">
          <div class="form-group">
            <label for="CreateTitle">Title</label>
            <input type="text" class="form-control" id="CreateTitle" placeholder="Enter title" />
          </div>
          <div class="form-group">
            <label for="CreateCategory">Category</label>
            <select class="form-control" id="CreateCategory">
              <option value="">请选择</option>
              {{range $index, $item := .CategoryList}}
              <option>{{$item.Name}}</option>
              {{end}}
            </select>
          </div>
          <div class="form-group">
            <label for="CreateContent">Content</label>
            <textarea class="form-control" id="CreateContent"></textarea>
          </div>
          <div class="form-group">
            <label for="CreateOrigin">Origin</label>
            <select class="form-control" id="CreateOrigin">
              <option value="">请选择</option>
              {{range $index, $item := .CategoryList}}
              <option>{{$item.Name}}</option>
              {{end}}
            </select>
          </div>
          <div class="form-group">
            <label for="CreateUnit">Unit</label>
            <input type="text" class="form-control" id="CreateUnit" placeholder="Enter unit, eg: 1公斤、150克、1袋" />
          </div>
          <div class="form-group">
            <label for="CreatePrice">Price</label>
            <input type="text" class="form-control" id="CreatePrice" placeholder="Enter price, eg: 199.00" />
          </div>
          <div class="form-group">
            <label for="CreateShop">Shop</label>
            <input type="text" class="form-control" id="CreateShop" placeholder="Enter shop name, eg: 广州稻草人" />
          </div>
          <div class="form-group">
            <label for="CreateBuyLink">BuyLink</label>
            <input type="text" class="form-control" id="CreateBuyLink" placeholder="Enter buy link, eg: http://gzdcr.com" />
          </div>
          <div class="form-group">
            <label for="CreateImages">Images</label>
            <textarea class="form-control" id="CreateImages"></textarea>
          </div>
          <div class="form-group">
            <label for="CreateCertificates">Certificates</label>
            <textarea class="form-control" id="CreateCertificates"></textarea>
          </div>
          <div class="form-group">
            <label for="CreateStatus">Status</label>
            <select class="form-control" id="CreateStatus">
              <option value="">请选择</option>
              <option value="0">待售</option>
              <option value="1">上架</option>
              <option value="2">缺货</option>
              <option value="3">下架</option>
              <option value="4">禁售</option>
            </select>
          </div>

          <button type="button" class="btn btn-primary" onclick="SubmitCreateForm()">Submit</button>
          <button type="reset" class="btn btn-default">Reset</button>
        </form>

      </div>
    </div>

    <div class="clear"></div>

    {{template "scripts"}}
    <script>
      function SubmitCreateForm(){
        var title = $('#CreateTitle').val();
        var category = $('#CreateCategory').val();
        var content = $('#CreateContent').val();
        var origin = $('#CreateOrigin').val();
        var unit = $('#CreateUnit').val();
        var price = $('#CreatePrice').val();
        var shop = $('#CreateShop').val();
        var buylink = $('#CreateBuyLink').val();
        var images = $('#CreateImages').val();
        var certificates = $('#CreateCertificates').val();
        var status = $('#CreateStatus').val();

        $.ajax({
         type: 'POST',
         url: '/webmaster/goods/create',
         data: {
           title: title,
           category: category,
           content: content,
           origin: origin,
           unit: unit,
           price: price,
           shop: shop,
           buylink: buylink,
           images: images,
           certificates: certificates,
           status: status
         },
         success: function(data) {
           location.reload();
         },
         dataType: 'text'
        });
      }
    </script>
  </body>
</html>