<!DOCTYPE html>

<html>
  <head>
    <title>Dashboard - Electronic Commerce Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{template "styles"}}
    <style>
      .msgbox{
        position: relative;
        margin: 50px auto;
        border: 1px solid #CCC;
        border-radius: 5px;
        width: 480px;
        padding:10px;
      }
    </style>
  </head>
  <body>
    <div class="msgbox">
      <h1>Sorry, you got an error!</h1>
      <div>
        <h3>Error info:</h3>
        <h4>{{.Msg}}</h4>
        <h3>You may go to:</h3>
        <h4><a href="javascript:void(0)" onclick="history.back(-2);">previous page</a>
        <h4><a href="/webmaster/login">login page</a></h4>
      </div>
    </div>
    {{template "scripts"}}
  </body>
</html>