{{define "leftside"}}

<div class="avatar" title="xianmaulin@gmail.com"></div>
  <span class="login-stat">
    <a>Hi, {{.Admin.Name}}! </a>
    <a href="/webmaster/logout">&lt;Exit&gt;</a>
  </span>
<ul class="nav">
  <li><a href="/webmaster/dashboard" class="">Dashboard</a></li>
  <li><a href="/webmaster/goods" class="">Goods</a></li>
  <li><a href="/webmaster/articles" class="">Articles</a></li>
  <li><a href="/webmaster/links" class="">Links</a></li>
  <li><a href="/webmaster/users" class="">Users</a></li>
  <li><a href="/webmaster/settings" class="">Settings</a></li>
  <li><a href="/webmaster/system" class="">System</a></li>
</ul>
<span class="copyright">&copy 2014 onetributary.com</span>

{{end}}