<!DOCTYPE html>

<html>
  <head>
    <title>Login - Electronic Commerce Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {{template "styles"}}
    <style>
      .top-line{position: relative; height: 10px;background: #000;margin-bottom: 50px;}
      .bottom-copyright{position: relative; margin: 10px auto; width:300px;line-height: 50px;text-align: center;}
      .login-board{background: #FFF;padding: 20px 30px; border-radius: 5px;}
      .login-text{text-align: center;font-weight: bold;font-size: 18px;}
    </style>
  </head>
  <body>
    <div class="top-line"></div>

    <p class="login-text">LOGIN</p>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-5"></div>
        <div class="col-xs-2 login-board">
          <form role="form" action="/webmaster/login" method="post">
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" class="form-control" name="Name" placeholder="Enter name" />
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" name="Password" placeholder="Password" />
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="Remenber" /> Remember me
              </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <span id="login_result" class="text-danger">{{.login_result}}</span>
          </form>
        </div>
        <div class="col-xs-5"></div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="bottom-copyright">
      &copy 2014 racent.com
    </div>

    {{template "scripts"}}
  </body>
</html>