.page_wrapper{
	background: url(/statics/img/web/joinbg.jpg) center top no-repeat;
	height: 1648px;
}
.main{
	width: 992px;
	margin:0 auto;
	margin-top: 115px;
}
.classify{
	overflow: hidden;
}
.classify a{
	color: #b4d676;
	font-weight: bold;
}
.common{
	display: block;
	float: left;
	width: 308px;
	text-align: center;
	border-radius: 18px 18px 0 0;
	margin-right: 30px;
	font-size: 26px;
}
.active{
	line-height: 89px;
	background-color: #fff;
}
.unactive{
	line-height: 79px;
	margin-top: 10px;
	background-color: #e3e1de;
}
.info{
	clear: both;
	height: 1290px;
	padding-top: 16px;
	border: 1px solid #e3e3e3;
	border-top: none;
	font-size: 15px;
	position: relative;
}
.unit_info,.cooperation_info{
	width:940px;
	margin: 0 auto;
	position: relative;
}
.state{
	padding-bottom: 13px;
	border-bottom:1px solid #e3e3e3;
}
.state li{
	padding-left:15px;
	background: url(/statics/img/web/circle.jpg) no-repeat 0;
	margin-bottom:7px; 
}
.flow{
	color: #727272;
	height: 330px;
	margin: 24px 1px;
	background: url(/statics/img/web/flow.jpg) no-repeat;
}
.flow ul{
	float: left;
	width: 220px;
	height: 270px;
	margin-right: 12px;
}
.flow h3{
	width: 238px;
	color: #000;
	line-height: 50px;
	text-align: center;
	margin-bottom: 18px;
}
.flow ul li{
	padding-left: 54px;
	padding-bottom: 3px;
}
.flow ul a{
	display: block;
	width: 136px;
	line-height: 40px;
	margin:40px 50px;
	text-align: center;
	color: #fff;
}
.flow img.inspect{
	display: block;
	margin: 20px 35px;
}
.flow img.success{
	display: block;
	margin-left:45px;
}
.interest{
	padding-left: 20px;
	color: #868282;
}
.interest ul{
	overflow: hidden;
}
.interest ul li{
	float: left;
	margin-top: 19px;
}
.interest h4{
	font-size: 17px;
	color: #000;
}
.interest h4 a{
	display: inline-block;
	color: red;
	font-size: 13px;
	text-indent: 3em;
}
li.identification{
	margin-left: -2px;
}
.ads{
	margin-left: 15px;
}
.extend{
	margin-left: 22px;
}
.pai{
	margin-left: 30px;
}
.map{
	margin-top: 28px;
	margin-left: 10px;
}
.map h2{
	margin-bottom: 20px;
}
.map p{
	margin-top: 35px;
	border-top: 1px solid #e3e3e3;
	margin-left: -10px;
	line-height: 60px;
	padding-left: 16px;
	background: url(/statics/img/web/circle.jpg) no-repeat 0 23px;
}
.map p span{
	color: #ACA1A1;
}
.map p a{
	color: #8890ff;
}
span.line{
	display: block;
	width: 100%;
	height: 28px;
	background: url(/statics/css/web/line.jpg) no-repeat ;
	margin-top: 18px;
}
.cooperation_info{
	position: absolute;
	top: 16px;
	left: 23px;
	display: none;
}
.footer{
	background: url(/statics/img/web/footer.jpg) no-repeat center top;
	margin-top: 52px;
}
.footer_bar ul li{
   margin-top: 6px;	
}